/* Header.module.css */
.header{
    height: 10vh;
    width: 100%;
    background: blue;
    display: flex;
    align-items: center;
}

.header__nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 24px;
}

.header__nav a{
    text-decoration: none;
    color: white;
}

.header a[class = 'active']{
    color: red;
}
